body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.list-style {
    list-style: none;
    padding: 0;
  }
  
  .list-style li {
    background: #222;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }
  
  .ingredient-list li::before {
    content: "🍽️"; 
    margin-right: 10px;
  }
  .instruction-list li::before {
    content: "🍳"; 
    margin-right: 10px;
  }
  .suggestions-container {
    max-height: 200px;  /* Set max height */
    overflow-y: auto;   /* Enable vertical scrolling */
  }
  .suggestions-container::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
  }
  .suggestions-container::-webkit-scrollbar-track {
    background: #222; /* Track color */
    border-radius: 10px;
  }
  
  .suggestions-container::-webkit-scrollbar-thumb {
    background: #e9efea; /* Scroll thumb color (Green) */
    border-radius: 10px;
  }
  
  .suggestions-container::-webkit-scrollbar-thumb:hover {
    background: #218838; /* Darker Green on Hover */
  } 
  .suggestions-container li{
    text-decoration: none;
  } 
  @media (max-width: 480px) {
    .recipe-img{
        width: 300px;
    }
  }